[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
djangorestframework-xml = "*"
bleach = "*"
django-filter = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
djoser = "*"
[dev-packages]

[requires]
python_version = "3.12"